In [1]:
import pandas as pd
import numpy as np

In [2]:
ccj = pd.read_csv('../data/01 raw/candidate_current_jobs.csv') # candidate current jobs

In [3]:
cpj = pd.read_csv('../data/01 raw/candidate_past_jobs.csv') # candidate past jobs

In [4]:
cdt = pd.read_csv('../data/01 raw/candidates.csv') # candidates

In [5]:
edu = pd.read_csv('../data/01 raw/education.csv') # education

In [6]:
job = pd.read_csv('../data/01 raw/jobs.csv') # jobs

## cleaning

In [12]:
cdt

,candidate_id,title,location,hire_flag
0,2649,senior system integration engineer en telecom ...,"Florida Oeste, Buenos Aires, Argentina",0
1,2650,senior collections analyst en the adecco group,"San Nicolás, City of Buenos Aires, Argentina",0
2,2651,sr integration & api support engineer at sales...,"Flores, City of Buenos Aires, Argentina",0
3,2652,*,"Barracas, City of Buenos Aires, Argentina",0
4,2653,customer support specialist,"Martínez, Buenos Aires, Argentina",1
...,...,...,...,...
1995,15663,software engineer at google,"Warsaw, Mazowieckie, Poland",0
1996,5542,diseñador de interfaz web en aprende institute,"Azcapotzalco, Mexico City, Mexico",0
1997,18285,senior software engineering na fullstack labs,"Goiânia, Goiás, Brazil",0
1998,12584,frontend programmer / unity 3d developer,"Guadalajara, Jalisco, Mexico",0
1999,6018,software engineer en cognizant,"Cordoba, Córdoba, Argentina",0

In [11]:
cdt.title = cdt.title.str.lower()

In [ ]:
def country(x):
    if x.str.